In [18]:
#importing necessery libraries
import numpy as np
import pandas as pd
pd.set_option("display.max_columns",None)# using pandas setting options to display maximum rows
pd.set_option("display.max_rows",None)
pd.set_option("display.width",500)
pd.set_option("display.expand_frame_repr",False)

In [19]:
movies = pd.read_csv(r"C:\Users\ASUS\Desktop\documents canada\moviesmetadata.csv")
ratings = pd.read_csv(r"C:\Users\ASUS\Desktop\documents canada\ratings.csv")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_2748\1641987460.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv(r"C:\Users\ASUS\Desktop\documents canada\moviesmetadata.csv")

In [16]:
# Check column names
print(movies.columns)

# Display DataFrame
print(movies)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count'], dtype='object')

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [21]:
# Step 1: Inspect the Data
print("Movies DataFrame Head:")
print(movies.head())

print("\nRatings DataFrame Head:")
print(ratings.head())

Movies DataFrame Head:
   adult                              belongs_to_collection    budget                                             genres                              homepage     id    imdb_id original_language               original_title                                           overview popularity                       poster_path                               production_companies                               production_countries release_date      revenue  runtime                                   spoken_languages    status                                            tagline                        title  video  vote_average  vote_count
0  FALSE  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...  http://toystory.disney.com/toy-story    862  tt0114709                en                    Toy Story  Led by Woody, Andy's toys live happily in his ...  21.946943  /rhIRbceoE9lR4veEXuwCC2wARtG.jpg     [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30  373554033.0     81.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released                                                NaN                    Toy Story  False           7.7      5415.0
1  FALSE                                                NaN  65000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...                                   NaN   8844  tt0113497                en                      Jumanji  When siblings Judy and Peter discover an encha...  17.015539  /vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg  [{'name': 'TriStar Pictures', 'id': 559}, {'na...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15  262797249.0    104.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released          Roll the dice and unleash the excitement!                      Jumanji  False           6.9      2413.0
2  FALSE  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...                                   NaN  15602  tt0113228                en             Grumpier Old Men  A family wedding reignites the ancient feud be...    11.7129  /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22          0.0    101.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Still Yelling. Still Fighting. Still Ready for...             Grumpier Old Men  False           6.5        92.0
3  FALSE                                                NaN  16000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...                                   NaN  31357  tt0114885                en            Waiting to Exhale  Cheated on, mistreated and stepped on, the wom...   3.859495  /16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg  [{'name': 'Twentieth Century Fox Film Corporat...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22   81452156.0    127.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Friends are the people who let you be yourself...            Waiting to Exhale  False           6.1        34.0
4  FALSE  {'id': 96871, 'name': 'Father of the Bride Col...         0                     [{'id': 35, 'name': 'Comedy'}]                                   NaN  11862  tt0113041                en  Father of the Bride Part II  Just when George Banks has recovered from his ...   8.387519  /e64sOI48hQXyru7naBFyssKFxVd.jpg  [{'name': 'Sandollar Productions', 'id': 5842}...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-02-10   76578911.0    106.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Just When His World Is Back To Normal... He's ...  Father of the Bride Part II  False           5.7       173.0

Ratings DataFrame Head:
   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [20]:
# Display information about the movies DataFrame
print("Movies DataFrame Info:")
print(movies.info())

# Display information about the ratings DataFrame
print("\nRatings DataFrame Info:")
print(ratings.info())

Movies DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB
None

Ratings DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB
None

In [22]:
# Step 2: Handle Missing Values
print("\nMovies DataFrame Missing Values:")
print(movies.isnull().sum())

print("\nRatings DataFrame Missing Values:")
print(ratings.isnull().sum())

Movies DataFrame Missing Values:
adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

Ratings DataFrame Missing Values:
userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [23]:
# Drop columns with more than 100 missing values
threshold = 100
columns_to_drop = movies.columns[movies.isnull().sum() > threshold]
movies_cleaned = movies.drop(columns=columns_to_drop)

# Display the cleaned DataFrame
print("Movies DataFrame after dropping columns with more than 100 missing values:")
print(movies_cleaned.head())

Movies DataFrame after dropping columns with more than 100 missing values:
   adult    budget                                             genres     id    imdb_id original_language               original_title popularity                               production_companies                               production_countries release_date      revenue                                   spoken_languages    status                        title  video  vote_average  vote_count
0  FALSE  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...    862  tt0114709                en                    Toy Story  21.946943     [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30  373554033.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released                    Toy Story  False           7.7      5415.0
1  FALSE  65000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...   8844  tt0113497                en                      Jumanji  17.015539  [{'name': 'TriStar Pictures', 'id': 559}, {'na...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15  262797249.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released                      Jumanji  False           6.9      2413.0
2  FALSE         0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  15602  tt0113228                en             Grumpier Old Men    11.7129  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22          0.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released             Grumpier Old Men  False           6.5        92.0
3  FALSE  16000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...  31357  tt0114885                en            Waiting to Exhale   3.859495  [{'name': 'Twentieth Century Fox Film Corporat...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22   81452156.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released            Waiting to Exhale  False           6.1        34.0
4  FALSE         0                     [{'id': 35, 'name': 'Comedy'}]  11862  tt0113041                en  Father of the Bride Part II   8.387519  [{'name': 'Sandollar Productions', 'id': 5842}...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-02-10   76578911.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Father of the Bride Part II  False           5.7       173.0

In [24]:
# Check for missing values in the cleaned DataFrame
print("Missing values in movies_cleaned DataFrame:")
print(movies_cleaned.isnull().sum())

Missing values in movies_cleaned DataFrame:
adult                    0
budget                   0
genres                   0
id                       0
imdb_id                 17
original_language       11
original_title           0
popularity               5
production_companies     3
production_countries     3
release_date            87
revenue                  6
spoken_languages         6
status                  87
title                    6
video                    6
vote_average             6
vote_count               6
dtype: int64

In [25]:
# Drop rows with any missing values
movies_cleaned = movies_cleaned.dropna(axis=0)

# Display the cleaned DataFrame
print("Movies DataFrame after dropping rows with missing values:")
print(movies_cleaned.head())

Movies DataFrame after dropping rows with missing values:
   adult    budget                                             genres     id    imdb_id original_language               original_title popularity                               production_companies                               production_countries release_date      revenue                                   spoken_languages    status                        title  video  vote_average  vote_count
0  FALSE  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...    862  tt0114709                en                    Toy Story  21.946943     [{'name': 'Pixar Animation Studios', 'id': 3}]  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-10-30  373554033.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released                    Toy Story  False           7.7      5415.0
1  FALSE  65000000  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...   8844  tt0113497                en                      Jumanji  17.015539  [{'name': 'TriStar Pictures', 'id': 559}, {'na...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-15  262797249.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released                      Jumanji  False           6.9      2413.0
2  FALSE         0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  15602  tt0113228                en             Grumpier Old Men    11.7129  [{'name': 'Warner Bros.', 'id': 6194}, {'name'...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22          0.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released             Grumpier Old Men  False           6.5        92.0
3  FALSE  16000000  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...  31357  tt0114885                en            Waiting to Exhale   3.859495  [{'name': 'Twentieth Century Fox Film Corporat...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-12-22   81452156.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released            Waiting to Exhale  False           6.1        34.0
4  FALSE         0                     [{'id': 35, 'name': 'Comedy'}]  11862  tt0113041                en  Father of the Bride Part II   8.387519  [{'name': 'Sandollar Productions', 'id': 5842}...  [{'iso_3166_1': 'US', 'name': 'United States o...   1995-02-10   76578911.0           [{'iso_639_1': 'en', 'name': 'English'}]  Released  Father of the Bride Part II  False           5.7       173.0

In [26]:
# Check for missing values in the cleaned DataFrame
print("Missing values in movies_cleaned DataFrame after dropping rows:")
print(movies_cleaned.isnull().sum())

Missing values in movies_cleaned DataFrame after dropping rows:
adult                   0
budget                  0
genres                  0
id                      0
imdb_id                 0
original_language       0
original_title          0
popularity              0
production_companies    0
production_countries    0
release_date            0
revenue                 0
spoken_languages        0
status                  0
title                   0
video                   0
vote_average            0
vote_count              0
dtype: int64